.Breadcrumbs {
  margin-bottom: 1rem;

  background-color: var(--tournio-gray-200);
  @media (prefers-color-scheme: dark) {
    background-color: var(--tournio-gray-800);
  }
  ol {
    margin-bottom: 0;
  }
  .ActiveItem {
    font-weight: bold;
  }
}