.TeamForm {
  .Label {
    text-align: left;
    font-weight: normal;
  }
  @media (min-width: 768px) {
    .Label {
      text-align: right;
      font-weight: bold;
    }
  }
  .Submit {
    text-align: right;
  }
}
