.TeamForm {
  .Label {
    text-align: left;
    font-weight: normal;

    .Required {
      margin-left: 5px;
      font-size: 60%;
      color: var(--tournio-danger);
      filter: brightness(80%);
    }
  }
  @media (min-width: 768px) {
    .Label {
      text-align: right;
      font-weight: bold;
    }
  }
  .Submit {
    text-align: right;
  }
}
