.Navigation {
  .Development {
    background: url('../../../images/development.png') no-repeat center top;
    background-size: contain;
  }
  .NavLinks {
    font-size: 2rem;
    a {
      color: var(--tournio-body-color);
    }
    .Bag {
      .Badge {
        font-size: 0.4em;
        font-style: normal;
      }
    }

    @media (min-device-width: 768px) {
      font-size: 1.5rem;
      .LogoLink {
        max-height: 2rem;
        .Image {
          height: 100%;
          width: auto;
          vertical-align: top;
        }
      }
    }
  }
}
