.BowlerFilterForm {
  form {
    background-color: var(--tournio-gray-200);
    [data-bs-theme='dark'] & {
      background-color: var(--tournio-gray-800);
    }
  }

  margin-top: 1rem;
  margin-bottom: 1rem;
}
