.DirectorLayout {
  h1 {
    font-size: 1.5rem;
    line-height: 1.7;
  }
  h2 { font-size: 1.4rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1.1rem; }
  h6 { font-size: 1rem; }
  footer {
    background-color: #e5e5e5;
  }

  @media (min-width: 576px) {
    h1 {
      font-size: 1.75rem;
      line-height: 2;
    }
    h2 { font-size: 1.65rem; }
    h3 { font-size: 1.55rem; }
    h4 { font-size: 1.45rem; }
    h5 { font-size: 1.35rem; }
    h6 { font-size: 1.2rem; }
  }

  @media (min-width: 768px) {
    main {
      margin-bottom: 4rem;
    }
    footer {
      position: fixed;
      bottom: 0;
      width: 100%
    }
    h1 { font-size: 2.0rem; }
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.6rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.4rem; }
    h6 { font-size: 1.3rem; }
  }
}