.Navigation {
  .BrandWrapper {
    margin-left: 0.5rem;
    // Might make this the inverted IO on small devices...
    background: url('../../../images/tournio-logo-inverted.png') no-repeat left center;
    background-size: contain;
    .Brand {
      margin: 0;
      padding: 0;
    }
  }
  //@media (min-width: 768px) {
  //  .BrandWrapper {
  //    background: url('../../../images/tournio-logo-inverted.png') no-repeat left center;
  //    background-size: contain;
  //    .Brand {
  //      margin: 0;
  //      padding: 0;
  //    }
  //  }
  //}
}