.Navigation {
  .BrandWrapper {
    line-height: 2;
    margin-left: 0.5rem;
  }
  @media (min-width: 768px) {
    .BrandWrapper {
      background: url('../../../images/bowling.svg') no-repeat left top;
    }
  }
}