.Navigation {
  padding-bottom: 1rem;

  .DirectorLinks {
    background-color: var(--tournio-purple-bg-subtle);
    border-bottom: 1px solid var(--tournio-purple-border-subtle);
  }
  .BrandWrapper {
    margin-left: 0.5rem;

    .Brand {
      margin: 0;
      padding: 0;
    }

    background: url('../../../images/tournio-logo.png') no-repeat left center;
    [data-bs-theme='dark'] & {
      background-image: url('../../../images/tournio-logo-inverted-gray.png');
    }
    background-size: contain;
  }
}
@media (min-width: 576px) {
  .Navigation {
    padding-bottom: 1rem;
  }
}
