.PreviousPurchases {
  .EmptyItemList {
    background-color: var(--tournio-gray-100);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-900);
    }
  }
  @media (max-width: 767px) {
    h4 {
      padding-left: 0.5rem;
      margin-bottom: 1rem;
      background-color: var(--tournio-gray-200);
      @media (prefers-color-scheme: dark) {
        background-color: var(--tournio-gray-800);
      }
    }
  }
  li {
    list-style-type: circle;
    margin: 0.5rem auto;

    .MainText {
      margin: 0 auto;
    }

    .Note {
      font-size: 85%;
      margin: 0 auto;
    }
  }

}