.PreviousPurchases {
  h5 {
    font-weight: bold;
    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }

  ul {
    background-color: var(--tournio-bookend-bg);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    li {
      list-style-type: circle;
      margin-top: 0;
      margin-bottom: 0.5rem;

      .MainText {
        margin: 0 auto;
      }

      .Note {
        font-size: 85%;
        margin: 0 auto;
      }
    }
  }
}

[data-bs-theme="dark"] .PreviousPurchases {
  h5 {
    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
  }
}
