.PreviousPurchases {
  h5 {
    font-weight: bold;
    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }

  .Item {
    padding-bottom: 0.5rem;
    .ListMarker {
      padding: 0 0.75rem;
      font-size: 125%;
      color: var(--tournio-success-text-emphasis);
    }

    .MainText {
      margin: 0.2rem auto;
    }

    .Note {
      font-size: 85%;
      margin: 0 auto;
    }
  }
}

[data-bs-theme="dark"] .PreviousPurchases {
  h5 {
    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
  }
}
