.AvailableItems {
  h5 {
    padding: 0.5rem;
    margin-bottom: 1rem;

    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
  }
}

[data-bs-theme="dark"] .AvailableItems {
  h5 {
    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
  }
}
