.Navigation {
  .Development {
    background: url('../../../images/development.png') no-repeat right top;
    background-size: contain;
  }
  .HomeLinks {
    font-size: 2rem;
  }
  .HomeLinkMd {
    background: url('../../../images/tournio-logo.png') no-repeat left top;
    @media (prefers-color-scheme: dark) {
      background-image: url('../../../images/tournio-logo-inverted-gray.png');
    }
    background-size: contain;
    //a { margin-left: 5rem; }
    height: 2rem;
    a {
      height: 2rem;
      width: 100%;
    }
  }
  .Bag {
    .Badge {
      font-size: 0.4em;
      font-style: normal;
    }
  }
}