.RegistrationLayout {
  header {
    background-color: var(--tournio-gray-100);
    color: var(--tournio-body-color);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-900);
    }
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  main {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.7;
  }
  h2 { font-size: 1.4rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1.1rem; }
  h6 { font-size: 1rem; }
  footer {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--tournio-gray-200);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-800);
    }
  }

  @media (min-width: 576px) {
    h1 {
      font-size: 1.75rem;
      line-height: 2;
    }
    h2 { font-size: 1.65rem; }
    h3 { font-size: 1.55rem; }
    h4 { font-size: 1.45rem; }
    h5 { font-size: 1.35rem; }
    h6 { font-size: 1.2rem; }
  }

  @media (min-width: 768px) {
    main {
      margin-top: 1rem;
      margin-bottom: 5rem;
    }
    header {
      position: static;
    }
    h1 { font-size: 2.0rem; }
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.6rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.4rem; }
    h6 { font-size: 1.3rem; }
    footer {
      padding-top: inherit;
      padding-bottom: inherit;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
