.FreeEntryForm {
  padding-top: 0.5rem;
  margin: 0;

  .CodeForm {
    border-top: 1px solid var(--tournio-gray-500);
    .FormLabel {

    }
    .ActionRow {
      text-align: right;
      padding-top: 1rem;
    }
  }
  .AppliedCode {
  }
  .Alert {
    margin-bottom: 0;
  }
}
