.ProgressIndicator {
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;

  .Step {
    font-size: 100%;

    @media (min-device-width: 576px) {
      font-size: 120%
    }

    background-color: var(--tournio-secondary-bg);
  }
  .Active {
    background-color: var(--tournio-primary-bg-subtle);
    p {
      font-weight: bold;
    }
  }
}
