.ProgressIndicator {
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;

  .Step {
    font-size: 100%;

    @media (min-device-width: 576px) {
      font-size: 120%
    }

    .Active {
      font-weight: bold;
    }
  }
}