.AdditionalQuestionForm {
  .HeaderRow {
    text-align: center;
    h6 {
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

}

.FormDisplayed {
  background-color: var(--tournio-admin-form-bg);
}
