.AdminLayout {
  font-family: var(--tournio-admin-body-font-family), sans-serif;
  footer {
    background-color: var(--tournio-bookend-bg);
    position: fixed;
    bottom: 0;
    width: 100%
  }
  main {
    margin-bottom: 6rem;
  }

  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
    main {
      margin-bottom: 4rem;
    }
  }
}
