.TournamentDetails {
  dl {
    margin-bottom: 1rem;
  }
  dt {
    font-weight: normal;
    text-align: right;
  }
  dd {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  .WebsiteLink {
    font-size: 90%;
  }

  .Deadline {
    font-weight: bold;
  }

  .ExternalLink {
    font-size: 80%;
    padding-left: 0.5rem;
  }

  .TestingEnvironment {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    background-color: burlywood;
  }

  .Shifts {
    //background-color: #f3f3f3;
  }

  .ShiftInfo {
    background-color: var(--tournio-gray-100);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-900);
    }
    h5 {
      //font-weight: 300;
    }
  }
}