@use 'bootstrap/scss/functions';

.TournamentDetails {
  .WebsiteLink {
    font-size: 90%;
  }

  .Deadline {
    font-weight: bold;
  }

  .ExternalLink {
    font-size: 80%;
    padding-left: 0.5rem;
  }

  .StateBanner {
    padding: 0.5rem;
  }

  .TestingEnvironment {
    background-color: burlywood;
  }

  .Details {
    .Date {
      font-weight: 600;

    }
    .FeeTable {
      margin-bottom: 1.5rem;
      th {
        padding-left: 0;
      }
      .Early {
        background-color: var(--tournio-success-bg-subtle);
      }
      .Late {
        background-color: var(--tournio-info-bg-subtle);
      }
    }
  }

  .Shifts {
    margin-bottom: 1rem;

    .ShiftInfo {
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      background-color: var(--tournio-gray-100);
    }
    .ConfirmedNote {
      text-align: right;
      font-size: 85%;
      font-weight: 200;
      padding-top: 0.5rem;
    }
  }

  .YouWillNeed {
    li {
      line-height: 1.3;
      margin-top: 0.5rem;
    }
  }

  .Actions {
    .Action {
      .Explainer {
        display: block;
        margin-top: 0.25rem;
        font-size: 80%;
      }
    }
  }
}

[data-bs-theme="dark"] .TournamentDetails {
  .TestingEnvironment {
    background-color: #deb88740;
  }
  .Shifts {
    .ShiftInfo {
      background-color: var(--tournio-bookend-bg);
    }
  }
}
