.TournamentDetails {
  dl {
    margin-bottom: 1rem;
  }
  dt {
    font-weight: normal;
    text-align: right;
  }
  dd {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  .WebsiteLink {
    font-size: 90%;
  }

  .Deadline {
    font-weight: bold;
  }

  .ExternalLink {
    font-size: 80%;
    padding-left: 0.5rem;
  }

  .TestingEnvironment {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    background-color: burlywood;
  }

  .ProgressBar {
    .EndLabel {
      font-size: 85%;
      font-weight: 100;
    }
  }
  .ProgressBarLegend {
    .Available {
      color: #e9ecef;
    }
  }
  .ConfirmedNote {
    text-align: right;
    font-size: 85%;
    font-weight: 200;
    padding-top: 0.5rem;
  }
}