.DivisionForm {
  .HeaderRow {
    text-align: center;
    h6 {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  label, .RemoveLink, .AddLink {
    font-weight: 200;
    font-size: 95%;
  }
}