.BowlerForm {
  .RequiredLabel {
    margin-top: 1rem;
    font-size: 95%;

    i {
      font-size: 60%;
      color: var(--tournio-danger);
      filter: brightness(80%);
    }
  }
  .InputItem {
    .RequiredLabel {
      margin-left: 5px;
    }
  }
}
