.MultiUseItem {
  background-color: var(--tournio-body-bg);
  p {
    margin: 0.5rem auto;
  }
  .IncreaseLink {
    font-size: 1.75rem;
  }
  .DecreaseLink {
    font-size: 1.75rem;
  }
  .Sticky {
    background-color: var(--tournio-bookend-bg);
  }
  .Note {
    font-size: 90%;
  }
  .Size {
    padding-left: 0.5rem;
    font-size: 90%;
  }
}
