.MultiUseItem {
  background-color: white;
  p {
    margin: 0.5rem auto;
  }
  .IncreaseLink {
    font-size: 2rem;
  }
  .DecreaseLink {
    font-size: 2rem;
  }
  .Sticky {
    background-color: #f5f5f5;
  }
  .Note {
    font-size: 90%;
  }
}