.AdditionalQuestions {
  .Card {
    margin-bottom: 1rem;
  }
  .EditIcon {
    font-size: 1rem;
  }
  .SaveIcon {
    font-size: 1rem;
  }
  .GrabHandle {
    cursor: grab;
  }
  .GrabHandle:active {
    cursor: grabbing;
  }
}