.ShiftForm {
  .HeaderRow {
    text-align: center;
    h6 {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  label,
  .AddEvent {
    font-weight: 200;
    font-size: 95%;
  }
  .SubLabel {
    label {
      font-size: 90%;
    }
  }
  .ExistingShift {
    margin-bottom: 0;
    div {
      margin-left: -0.25rem;
      margin-right: -0.25rem;
      dt {
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        text-align: right;
      }
      dd {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
        text-align: left;
      }
    }
  }
  .AlmostFull {
  }
  .Full {
  }
  .ExistingShift:hover {
    cursor: pointer;
    background-color: var(--tournio-admin-form-bg);
  }
}

.FormDisplayed {
  background-color: var(--tournio-admin-form-bg);
}
