.ShiftForm {
  .HeaderRow {
    text-align: center;
    h6 {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  label,
  .AddEvent {
    font-weight: 200;
    font-size: 95%;
  }
  .SubLabel {
    label {
      font-size: 90%;
    }
  }
  .ExistingShift {
    //padding-left: 0.5rem;
    //padding-right: 0.5rem;
    margin-bottom: 0;
  }
  .AlmostFull {
    background-color: lemonchiffon;
    @media (prefers-color-scheme: dark) {
      background-color: goldenrod;
      color: var(--tournio-gray-900);
    }
  }
  .Full {
    background-color: mistyrose;
    @media (prefers-color-scheme: dark) {
      background-color: maroon;
    }
  }
  .ExistingShift:hover {
    cursor: pointer;
    background-color: var(--tournio-gray-100);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-900);
    }
  }
  //margin-top: 1rem;
}
.FormDisplayed {
  background-color: var(--tournio-gray-100);
  @media (prefers-color-scheme: dark) {
    background-color: var(--tournio-gray-900);
  }
}
