.Cart {
  h5 {
    background-color: var(--tournio-gray-200);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-800);
    }
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .ItemList {

  }
  .TotalFees {
    text-align: right;
    font-size: 120%;
  }
  @media (max-width: 767px) {
    .EmptyItemList {
      background-color: var(--tournio-gray-100);
      @media (prefers-color-scheme: dark) {
        background-color: var(--tournio-gray-900);
      }
    }
  }
  @media (min-width: 768px) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
