.Cart {
  h5 {
    font-weight: bold;
    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .SmallCartHeader {
    border-bottom: var(--tournio-border-width) solid var(--tournio-border-color);
  }

  .ItemList {
    width: 100%;
  }
  .TotalFees {
    text-align: right;
    font-size: 120%;
  }
  //@media (min-width: 768px) {
  //  position: -webkit-sticky;
  //  position: sticky;
  //  top: 0;
  //}
}

[data-bs-theme="dark"] .Cart {
  h5 {
    background-color: var(--tournio-gray-800);
    color: var(--tournio-gray-300);
  }
}
