.NewTeamReview {
  .TeamDetails {
    font-size: 1.4rem;

    dt {
      text-align: right;
    }
    dd {
      margin-bottom: 0;
    }
  }

  .BowlerDetailLabel {

  }
  .BowlerDetailValue {

  }
}
