@page {
  size: auto;
  margin: 0.5in;
}

.SignInSheetHtml {
  line-height: 1.5rem;

  .Logo {
    max-width: 60px;
    max-height: 60px;
  }
  .Address {
    span {
      display: block;
    }
  }

  .ExtraQuestions {
    //margin-left: -0.5rem;
  }

  .PurchasesTable {
    width: 100%;

    .SignedUp {
      font-size: 120%;
    }

    .PaidAmount {
      font-weight: bold;
      font-size: 110%;
    }
    .AmountBox {
      width: 20%;
    }
  }

  .TotalsTable {
    width: 100%;

    .Amount {
      width: 20%;
      text-align: right;
    }
  }

  .PurchaseNote {
    display: block;
    font-style: italic;
    font-size: 90%;
    font-weight: 200;
  }
  .Agreement {
    .Signature {
      margin-top: 2rem;
      border-bottom: 1px solid #000;
    }
    .Acknowledgement {
      font-style: italic;
      font-size: 85%;
      font-weight: 200;
      word-wrap: normal;
    }
  }
}
@media print {
  .SignInSheetHtml {
    font-family:
      Lora,
      serif;
    font-size: 90%;
    line-height: 1.3rem;

    h2 {
      font-size: 1.7rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    page-break-after: auto;

    .PrintButton {
      display: none;
    }
    .Agreement {
      .Signature {
        margin-top: 1in;
      }
    }
  }
}
