@page {
  size: auto;
  margin: 0;
}

.SignInSheetHtml {
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5rem;
  .Logo {
    max-width: 80px;
    max-height: 80px;
  }
  @media print {
    .PrintButton {
      display: none;
    }
  }
  .Address {
    span {
      display: block;
    }
  }
  .PurchaseNote {
    display: block;
    font-style: italic;
    font-size: 90%;
    font-weight: 200;
  }
  .Agreement {
    margin-top: 3rem;
    margin-right: 2rem;
    width: 100%;

    .Signature {
      border-bottom: 1px solid #000;
    }
    .Acknowledgement {
      font-style: italic;
      font-size: 90%;
      font-weight: 200;
      word-wrap: normal;
    }
  }
}
@media print {
  .SignInSheetHtml {
    page-break-after: always;
  }
}
