.PurchasableItemEditForm {
  .Form {
    background-color: var(--tournio-gray-200);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-800);
    }
    legend {
      text-align: center;
        font-size: 1.2rem;
        font-weight: 300;
    }
    label {
      font-weight: 200;
      font-size: 95%;
    }
  }
  .Item {
    padding: 0.75rem;

    p {
      margin-bottom: 0;
    }

    .Order {
      font-weight: bold;
      padding-right: 0.5rem;
    }
    .EditLink {
      display: none;
    }
    .Note {
      display: block;
      font-size: 85%;
      font-style: italic;
      //text-indent: 0.5rem;
    }
    .Subnote {
      display: block;
      font-style: italic;
    }
  }
  .Item:hover {
    background-color: var(--tournio-gray-200);
    @media (prefers-color-scheme: dark) {
      background-color: var(--tournio-gray-800);
    }
  }
  .PreviewText {
    font-size: 90%;
    font-style: italic;
    display: block;
  }
}
