.ShiftCapacity {
  .EndLabel {
    font-size: 85%;
    font-weight: 200;
  }
  .BarStack {
    height: 2rem;

    .Segment {
      height: 100%;
    }

    .Paid {
      background-color: var(--tournio-success);
      [data-bs-theme='dark'] & {
        background-color: var(--tournio-success-moody);
      }
    }
    .Requested {
      background-color: var(--tournio-primary);
      [data-bs-theme='dark'] & {
        background-color: var(--tournio-primary-moody);
      }
    }
  }
}
