.Input {
  .Label {

  }

  .RequiredLabel {
    margin-left: 5px;
    font-size: 60%;
    color: var(--tournio-danger);
    filter: brightness(80%);
  }

  .InputElement {

  }

  .InvalidFeedback,
  &:invalid {
    margin-left: 5px;
  }

  .ExternalLink {
    font-size: 80%;
  }

  .ValidationInProgress {
    color: var(--tournio-form-valid-color);
  }
}
