.SingleUseItem {
  background-color: white;
  p {
    margin: 0.5rem auto;
  }
  .Note {
    font-size: 90%;
  }
  .RemoveLink {
    font-size: 1.75rem;
  }
}
.Sticky {
  background-color: #f5f5f5;
}
