.TournamentState {
  .setup {
    background-color: var(--tournio-info-bg-subtle);
  }
  .testing {
    background-color: var(--tournio-warning-bg-subtle);
  }
  .active {
    background-color: var(--tournio-success-bg-subtle);
  }
  .closed {
    background-color: var(--tournio-secondary-bg-subtle);
  }
  .demo {
    background-color: var(--tournio-primary-bg-subtle);
  }
}
