.Item {
  p {
    margin: 0.5rem auto;
  }

  .AddLink {
    font-size: 1.75rem;
    color: var(--tournio-success);
  }

  .AddDisabled {
    opacity: .6;
  }

  .Name {
    font-size: 120%;
  }

  .Note {
    font-size: 90%;
  }

  .Price {
    font-weight: bold;
  }
}

.Selected {
  color: var(--tournio-gray-600);
  background-color: var(--tournio-gray-200);
  @media (prefers-color-scheme: dark) {
    color: var(--tournio-gray-600);
    background-color: var(--tournio-gray-900);
  }
}

.NotSelected:hover {
  background-color: var(--tournio-gray-200);
  @media (prefers-color-scheme: dark) {
    background-color: var(--tournio-gray-900);
  }
}
