.Item {
  p {
    margin: 0.5rem auto;
  }

  .AddLink {
    font-size: 1.75rem;
  }

  .Name {
    font-size: 120%;
  }

  .Note {
    font-size: 90%;
  }
}

.Selected {
  background-color: #cacaca;
}

.NotSelected:hover {
  background-color: #f3f3f3;
}
