//For the outline buttons,
//@each $color, $value in $theme-colors {
//  @include color-mode(dark, true) {
//    color-scheme: dark;
//
//    .btn-outline-#{$color} {
//      @include button-outline-variant($value,
//        $color-hover: color-contrast($value),
//        $active-background: shade-color($value, 30%),
//      );
//    }
//  }
//}

@include color-mode(dark, true) {
  color-scheme: dark;

  @each $color, $value in $theme-colors-dark {
    --#{$prefix}#{$color}-moody: #{$value};

    .btn-#{$color} {
      @include button-variant(
          $value,
          $value,
        $color: color-contrast($value, $gray-700),
      );
    }

    .btn-outline-#{$color} {
      @include button-outline-variant(
          $value,
        $color-hover: color-contrast($value),
        $active-background: shade-color($value, 30%),
      );
    }
  }

  @each $color, $value in $table-variants-dark {
    @include table-variant(
        $color,
        $value,
    )
  }
}

// Miscellaneous mappings
:root,
[data-bs-theme="light"] {
  --#{$prefix}purple-bg: #{$purple-bg-subtle};
}

@include color-mode(dark, true) {
  color-scheme: dark;

  --#{$prefix}purple-bg: #{$purple-bg-subtle-dark};
}
