.ContactForm {
  label {
    font-weight: 300;
    font-size: 95%;
  }
  .Detail:hover {
    cursor: pointer;
    background-color: var(--tournio-admin-form-bg);
  }
  .InputItem {
    padding: 0.5rem 0.75rem;
  }
}

.Editing {
  background-color: var(--tournio-admin-form-bg);
}
