$font-family-sans-serif:
  "Nunito Sans",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

$alert-bg-scale: -60%;
$alert-border-scale: -20%;
$modal-lg: 650px;

$prefix: tournio-;

// light mode color overrides
//$primary: #1f60c2;
//$success: #40824c;
//$info: #68d3e8;
//$danger: #bf2e3c;

$primary: #3b71ca;
$secondary: #9fa6b2;
$success: #40824c;
$info: #54b4d3;
$warning: #e4a11b;
$danger: #dc4c64;
$light: #fbfbfb;
$dark: #212529;

// my dark-mode colors
//$lighter-blue: #5398ff;
//$darker-red: #b52b2b;
//$lighter-indigo: #af85f4;
//$lighter-purple: #a77df4;
//$darker-pink: #e08eb7;
//$darker-orange: #fba155;
//$darker-yellow: #9f971a;
//$darker-green: #30733c;
//$darker-cyan: #2fa3ba;
//$darkest-gray: #121212;
//$dim-white: #c6bca9;
