// default variable overrides here

$blue: #1f60c2;
$green: #40824c;
$cyan: #68d3e8;
$red: #bf2e3c;

$component-active-bg: #adb5bd;

$accordion-button-active-color: #333;

$variable-prefix: igbo-;

$font-family-sans-serif:
  Raleway,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
