:root {
  &[data-bs-theme="light"] {
    --tournio-bookend-bg: var(--tournio-gray-100);
  }
  &[data-bs-theme="dark"] {
    --tournio-bookend-bg: #1b1f22;
  }
}

html {
  font-size: 1rem;

  &[data-bs-theme="dark"] {
    background-color: var(--tournio-body-bg);
  }
}

.line {
  display: block;
}

.accordion {
  --tournio-accordion-active-color: var(--tournio-body-color);
  --tournio-accordion-active-bg: var(--tournio-gray-200);
  --tournio-accordion-btn-color: var(--tournio-body-color);
  --tournio-accordion-btn-focus-border-color: var(--tournio-gray-500);
  --tournio-accordion-btn-focus-box-shadow: var(--tournio-gray-500);
}

.progress {
  //--tournio-progress-bg: var(--tournio-gray-300);
  //@media (prefers-color-scheme: dark) {
  //  --tournio-progress-bg: var(--tournio-gray-700);
  //}
}

//.form-control {
//  @media (prefers-color-scheme: dark) {
//    background-color: var(--tournio-gray-900);
//    color: var(--tournio-body-color);
//    border-color: var(--tournio-gray-700);
//
//    &:focus,
//    &:hover {
//      background-color: var(--tournio-gray-800);
//      color: var(--tournio-body-color);
//    }
//  }
//}

//.form-control-plaintext {
//  @media (prefers-color-scheme: dark) {
//    color: var(--tournio-body-color);
//  }
//}

//.form-select {
//  @media (prefers-color-scheme: dark) {
//    background-color: var(--tournio-gray-900);
//    color: var(--tournio-body-color);
//    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%236c757d' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
//    border-color: var(--tournio-gray-700);
//  }
//}

.form-check-input {
  background-color: var(--tournio-gray-200);
  border-color: var(--tournio-gray-500);
  //@media (prefers-color-scheme: dark) {
  //  background-color: var(--tournio-gray-700);
  //}
  &:checked {
    background-color: var(--tournio-primary);
  }
}

.input-group-text {
  color: var(--tournio-body-color);
  //@media (prefers-color-scheme: dark) {
  //  border-color: var(--tournio-gray-600);
  //  background-color: var(--tournio-gray-700);
  //}
}

//.btn-close {
//  @media (prefers-color-scheme: dark) {
//    background-color: var(--tournio-body-color);
//  }
//}

.modal-content {
  color: var(--tournio-body-color);
  //@media (prefers-color-scheme: dark) {
  //  background-color: var(--tournio-gray-900);
  //}
}
