// Including functions first allows us to manipulate colors, SVGs, calc, etc
@import "../../node_modules/bootstrap/scss/functions";

// Now come our default variable overrids.
$primary: #1f60c2;
$success: #40824c;
$info: #68d3e8;
$danger: #bf2e3c;

$font-family-sans-serif:
  "Nunito Sans",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

$alert-bg-scale: -60%;
$alert-border-scale: -20%;
$modal-lg: 650px;

$prefix: tournio-;

// my dark-mode colors
//$lighter-blue: #5398ff;
//$darker-red: #b52b2b;
//$lighter-indigo: #af85f4;
//$lighter-purple: #a77df4;
//$darker-pink: #e08eb7;
//$darker-orange: #fba155;
//$darker-yellow: #9f971a;
//$darker-green: #30733c;
//$darker-cyan: #2fa3ba;
//$darkest-gray: #121212;
//$dim-white: #c6bca9;

// And now for the rest of Bootstrap.

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// do any custom utility mapping we want to do...
//$utilities: map-merge(
//  $utilities,
//  (
//    "indigo": (
//      property: indigo,
//      css-var: true,
//      values: $indigos,
//    )
//  )
//);

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

:root {
}
