.ActiveTournament {
  .Title {
    margin-bottom: 0.75rem;
  }
  h5 {
    font-weight: 400;
    margin-bottom: 0;
  }
  .TooltipIcon {
    margin-bottom: 0;
  }
  .Search {
    padding-bottom: 1rem;

    .Spinner {
      width: 1rem;
      height: 1rem;
    }
    .Helper {
      text-align: right;
    }
  }
  .ControlPanel {
  }
  .RegistrationOptions {
  }
  .OptionalItems {
    .Item {
      .Label {
        .Name {
          .Additional {
            font-style: italic;
          }
        }
      }
      .Price {

      }
    }
  }
  .OneShift {
    margin-bottom: 1rem;
  }
  .MultipleShifts {
    margin-bottom: 1rem;

    .OneOfMultipleShifts {
      .ShiftDetail {
        margin-bottom: 0.5rem;
      }
    }
  }
  .ExternalLink {
    font-size: 80%;
    padding-left: 0.5rem;
  }
  .LinksAndCounts {

  }
  .Contacts {
    .Contact {
      .ContactForm {
        .Detail {
          p {
            margin: 0;
          }
        }
        .ContactFormInput {
          padding: 0.5rem 0;
        }
      }
    }
  }
  .Downloads {
    .ExternalLink {
      font-size: 80%;
      padding-left: 0.5rem;
    }
  }
  .Capacity {
  }
}

