.TournamentBuilder {
  .Progress {
    .Step {
      p {
        .Text {
          margin-left: 0.75rem;
        }
      }
    }
    .Done {
      background-color: var(--tournio-gray-400);
      p::before {
        font-family: 'Bootstrap-icons';
        content: '\F270';
      }
    }
    .Active {
      background-color: #c3e8c5;
      p::before {
        font-family: 'Bootstrap-icons';
        content: '\F138';
      }

    }
    .Upcoming {
      background-color: var(--tournio-gray-200);
      p::before {
        font-family: 'Bootstrap-icons';
        content: '\F2E4';
      }
    }
  }

  .FormContainer {
    .FieldRow {
      margin-top: 1rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .TournamentBuilder {
    .Progress {
      .Step {

      }
      .Done {
        background-color: var(--tournio-gray-900);
      }
      .Active {
        background-color: #142b15;
      }
      .Upcoming {
        //background-color: var(--tournio-body-bg);
        color: var(--tournio-gray-700);
      }

    }
  }

  .FormContainer {

  }
}

@media (min-width: 576px) {
  .TournamentBuilder {
    max-width: 800px;
    margin: 0 auto;

    .Progress {
      .Step {
        border: 1px dotted;
        border-bottom: none;
        p {
          padding: 1rem 0;
          margin: 0 0 0 1rem;
        }
      }
      .Step:first-child {
        border-radius: 5px 5px 0 0;
      }
      .Step:last-child {
        border-bottom: 1px dotted;
        border-radius: 0 0 5px 5px;
      }
      .Done {

      }
      .Active {

      }
      .Upcoming {

      }

    }

    .FormContainer {
      label {
      }
    }
  }
}

@media (min-width: 768px) {
  .TournamentBuilder {
    .Progress {
      .Step {

      }
      .Done {

      }
      .Active {

      }
      .Upcoming {

      }

    }

    .FormContainer {
      label {
        text-align: right;
      }
    }
  }
}