.TournamentBuilder {
  .Progress {
    .Step {
      h6 {
        font-weight: 100;
        .Text {
          margin-left: 0.75rem;
        }
      }
    }
    .Done {
      background-color: var(--tournio-gray-400);
      h6::before {
        font-family: 'Bootstrap-icons';
        content: '\F270';
      }
    }
    .Active {
      background-color: #d1f9d3;
      h6::before {
        font-family: 'Bootstrap-icons';
        content: '\F138';
      }

    }
    .Upcoming {
      background-color: var(--tournio-gray-100);
      h6::before {
        font-family: 'Bootstrap-icons';
        content: '\F2E4';
      }
    }
  }

  .FormContainer {
    .FieldRow {
      margin-top: 1rem;
    }
    .ButtonRow {
      margin-top: 2rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .TournamentBuilder {
    .Progress {
      .Step {

      }
      .Done {
        background-color: var(--tournio-gray-800);
      }
      .Active {
        background-color: #234f25;
      }
      .Upcoming {
        background-color: var(--tournio-gray-900);
        color: var(--tournio-gray-600);
      }

    }
  }

  .FormContainer {

  }
}

@media (min-width: 576px) {
  .TournamentBuilder {
    max-width: 800px;
    margin: 0 auto;

    .Progress {
      .Step {
        border: 1px dotted;
        border-bottom: none;
        h6 {
          padding: 1rem 0;
          margin: 0 0 0 1rem;
        }
      }
      .Step:first-child {
        border-radius: 5px 5px 0 0;
      }
      .Step:last-child {
        border-bottom: 1px dotted;
        border-radius: 0 0 5px 5px;
      }
      .Done {

      }
      .Active {

      }
      .Upcoming {

      }
    }

    .FormContainer {
      h2 {
        margin-bottom: 2rem;
      }
      label {
      }
    }
  }
}

@media (min-width: 768px) {
  .TournamentBuilder {
    .Progress {
      .Step {

      }
      .Done {

      }
      .Active {

      }
      .Upcoming {

      }

    }

    .FormContainer {
      label {
        text-align: right;
      }
    }
  }
}